*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:  100vh;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    align-items: center;
    justify-content: center;
    color: white;
    
}
header{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    
}

/*menu-side*/

header .menu-side {
    position: relative;
    width: 25% ;
    height: 92%;
   /* border: 1px solid #fff;*/ 
    background-color: #18181d;
    box-shadow: 5px 0px 2px #090f1f;
    position: fixed;
}

header .menu-side .user {
    position: relative;
    height: 50px;
    cursor: pointer;
    margin-left: 20px;
    display: flex;
    justify-content: left;
}

header .menu-side .user img {
    margin-top: 20px;
    height: 30px;
    box-shadow: 2px 2px 8px #131312;
}

header .menu-side .playlist {
    margin: 40px 0px 0PX 20px;
}

header .menu-side .playlist  h4{
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    transition: 0.3s linear;
    cursor: pointer;
    display: flex;
    align-items: center;

}

header .menu-side .playlist .menu h4{
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    transition: 0.3s linear;
    cursor: pointer;
    display: flex;
    align-items: center;
}


header .menu-side .playlist .menu ul  {
    margin-left: 20px;
}

header .menu-side .playlist .menu ul li {
    list-style: none;
    display: flex;
}

header .menu-side .playlist .menu ul li a{
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
    color: white;
    transition: 0.3s linear;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}

header .menu-side .playlist .menu ul li .bi{
    font-size: 10px;
    font-weight: 400;
    padding: 5px;
    color: white;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}

header .menu-side .playlist .lib {
    padding: 10px;
}

header .menu-side .playlist .lib h4{
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    transition: 0.3s linear;
    cursor: pointer;
    display: flex;
    align-items: center;
}


header .menu-side .playlist .lib ul  {
    margin-left: 20px;
}

header .menu-side .playlist .lib ul li {
    list-style: none;
    display: flex;
}

header .menu-side .playlist .lib ul li a{
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
    color: white;
    transition: 0.3s linear;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}

header .menu-side .playlist .lib ul li .bi{
    font-size: 10px;
    font-weight: 400;
    padding: 5px;
    color: white;
    transition: 0.3s linear;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}

header .menu-side .playlist h4:hover{
    color: white;
}

header .menu-side .playlist h4 span{
    position: relative;
    margin-right: 35px;
}

header .menu-side .playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top: -4px;
    border: 2px solid #30333b;
    border-radius: 50%;
    transition: 0.3s linear;
}

header .menu-side .playlist h4:hover span::before{
    border: 2px solid white;
}

header .menu-side .playlist h4:hover samp::before{
    border: 2px solid white;
}

header .menu-side .playlist h4 .bi{
    display: none;
}

header .menu-side .playlist .active{
    color: #36e2ec;
}

header .menu-side .playlist .active span{
    display: none;
}

header .menu-side .playlist .active .bi{
    display: flex;
    margin-right: 20px;
}

header .menu-side .menu-song {
    width: 100%;
    height: 300px;
    /* border: 1px solid #fff; */

}

header .menu-side .menu-song li{
    list-style-type: none;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s linear;
    position: relative;
}

header .menu-side .menu-song li span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}

header .menu-side .menu-song li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}


header .menu-side .menu-song li h5{
    font-size: 11px;
    margin-left: 15px;
    color: white;
}

header .menu-side .menu-song li h5 .sb{
    font-size: 9px;
    color: #4c5262;
}

header .menu-side .menu-song li .bi{
    font-size: 16px;
    position: absolute;
    top: 6px;
    right: 15px;
}

header .menu-side .menu-song li:hover{
   background-color: rgba(105, 105, 107, 0.1);
}



/*song-side*/

header  .song-side{
    position: relative;
    width: 25% ;
    height: 90%;
   /* border: 1px solid #fff;*/ 
    background-color: #18181d;
    box-shadow: 5px 0px 2px #090f1f;
    margin-left: 380px;
}


header .song-side {
    z-index: 2;
    
}
header .song-side::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;  
    background: url('img/bgm.png');  
    z-index: -1;
}

header .song-side nav{
    width: 90%;
    height: 10%;
    margin: auto;
    /*border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .song-side nav ul {
    display: flex;
}

header .song-side nav ul li {
    position: relative;
    list-style: none;
    cursor: pointer;
    font-size: 13px;
    color: #414141;
    margin-right: 25px;
    transition: 0.3s linear;
}

header .song-side nav ul li:hover {
    color: white;
}

header .song-side nav ul li:nth-child(1){
    color: white;
}

header .song-side nav ul li span{
    position: absolute;
}


header .song-side nav ul li::after{
    content: '';
    margin-bottom: 5px;
    width: 0%;
    height: 2px;
    background-color: #36c2ec;
    transition: 0.5s;
    display: block;
}

header .song-side nav ul li:hover::after{
    width: 100%;
}

header .song-side nav .search {
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    color: gray;
   display: flex;
}

header .song-side nav .search::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(184, 184, 184, 0.1);
    backdrop-filter: blue(5px);
    z-index: -1;
}


header .song-side nav .search .bi {
    font-size: 13px;
    padding: 3px 0px 0px 10px;
}

header .song-side nav .search  input {
    background: none;
    outline: none;
    border: none;
    padding: 0px 10px;
    color: white;
    font-size: 12px;
}



header .song-side .content {
    height: 30%;
    margin: auto;
    width: 90%;
    /*border: 1px solid white;*/
    padding-top: 20px;
}

header .song-side .content h1{
    font-size: 25px ;
    font-weight: 600 ;
}

header .song-side .content h5{
    font-size: 15px ;
    font-weight: 200 ;
    color: #a7a7bb;
    margin-bottom: 20px;
}

header .song-side .content p{
    font-size: 11px ;
    font-weight: 400 ;
    color: #4c5262;
    margin: 5px;
}

header .song-side .content .btn {
    margin-top: 15px;
}

header .song-side .content .btn button {
    width: 130px;
    height: 30px;
    border: 2px solid #36c2ec;
    outline: none;
    border-radius: 20px;
    background: #5adae0;
    color: white;
    cursor: pointer;
    transition: 0.5s linear;
}

header .song-side .content .btn button:hover {
    border: 2px solid #36e2ec;
    background: none;
    color: #36c2ec;
}

header .song-side .content .btn button:nth-child(2) {
    border: 2px solid #36e2ec;
    background: none;
    color: #36c2ec;
}

header .song-side .content .btn button:nth-child(2):hover {
    border: 2px solid #36e2ec;
    background: #36e2ec ;
    color: white;
}

header .song-side .populer{
    width: 90%;
    height: auto;
    border: 1px solid #25252d;
    margin: auto;
    margin-top: 20px;
    background-color:#25252d ;
    padding: 10px;
    border-radius: 25px;
}

header .song-side .populer .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song-side .populer .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}

header .song-side .populer .h4 .bi:hover{
    color: white;
}

header .song-side .populer .pop-song{
    width: 100% ;
    height: 150px;
    margin-top: 15px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

header .song-side .populer .pop-song::-webkit-scrollbar{
    display: none;
}

header .song-side .populer .pop-song li{
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    margin-right: 10px;
    transition: 0.3s linear;
}

header .song-side .populer .pop-song li:hover{
   background: rgba(105, 105, 107, 0.1);
}

header .song-side .populer .pop-song li .img-play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header .song-side .populer .pop-song li .img-play img{
    height: 100%;
    width: 100%;
}
 
header .song-side .populer .pop-song li .img-play .bi{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s linear;
    opacity: 0;
    background-color: black;
    border-radius: 50%;
}

header .song-side .populer .pop-song li .img-play:hover .bi{
    opacity: 1;
}

header .song-side .populer .pop-song  li h5{
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 10px;
}

header .song-side .populer .pop-song  li h5 .sb{
    font-size: 9px;
    color: #4c5262;
}

header .song-side .artists{
    width: 90%;
    height: auto;
    /*border: 1px solid white; */
    margin: auto;
    margin-top: 20px;
    background-color:#25252d ;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 20px;
}

header .song-side .artists .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song-side .artists .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}

header .song-side .artists .h4 .bi:hover{
    color: white;
}

header .song-side .artists .item{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth ;
}

header .song-side .artists .item::-webkit-scrollbar{
    display: none;
}

header .song-side .artists .item li {
    list-style-type: none;
    position: relative;
    min-width: 60px;
    height: 60px;
    
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}    

header .song-side .artists .item li img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;

}  

header .song-side .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .song-side .icon .bi{
    font-size: 12px;
    padding: 10px;
}

header .song-side .icon .user-id {
    display: flex;
}

header .song-side  .user-id  {
    margin-left: 20px;
}

header .song-side .user-id .login {
    font-size: 13px;
    border-radius: 25px  0px 0px 25px ;
    border-right: 1px solid black;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 10px;  
    transition: 0.3s linear;
    cursor: pointer;
}

header .song-side .user-id .login:hover {
    border: 1px solid #36e2ec ;
    color: #36c2ec;
    background: none;

    transform: scale(1.1);
}

header .song-side .user-id .sign {
    font-size: 13px;
    border-radius: 0px   25px  25px 0px ;
    border-left: 1px solid black;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 10px;
    transition: 0.3s linear;
    cursor: pointer;
}

header .song-side .user-id .sign:hover {
    border: 1px solid #36e2ec ;
    color: #36c2ec;
    background: none;
 
    transform: scale(1.1);
}

header .song-side{
    width: 75%;
    background-color: black;
}

/*master-song*/

header .master-song{
    width: 100%;
    height: 10%;
    box-sizing: 0px 3px 8px #0b1320; 
    display: flex;
    background-image: url(img/mester\ play.png);
    position: relative;
    background-size: cover;
      
}

header .master-play{
    display: flex;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 10px;
    position: fixed;
    margin-top: 670px;
    background-color: #18181d;
    width: 100%;
    height: 10%;
    z-index: 2;


    
}
header .master-play .wave{
    width: 30px;
    height: 30px;
   /* border: 1px solid white; */
   margin-right: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
}
header .master-play .wave .wave1{
    width: 3px;
    height: 10px;
    margin-right: 3px;
    border: 10px 10px 0px 0px;
    background-color: #36c2ec;
    animation: unset;
}
header .master-play .wave .wave1:nth-child(2){
    height: 13px;
   /* animation-delay: 0.4s; */
}
header .master-play .wave .wave1:nth-child(3){
    height: 8px;
    /*animation-delay: 0.8s; */
}


/* js class wave*/

header .master-play .active2 .wave1{
    animation: wave 0.5s linear infinite;
}
header .master-play .active2 .wave1:nth-child(2){
    animation-delay: 0.4s;
}
header .master-play .active2 .wave1:nth-child(3){
    animation-delay: 0.8s;
}

@keyframes wave{
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}

header .master-play img{
    width: 35px;
    height: 35px;
}

header .master-play h5{
    width: 130px;
    font-size: 13px;
    margin-left: 15px;
    color: white;
    line-height: 15px;
}
header .master-play h5 .sb{
    font-size: 11px;
    color: #4c5262;
}

header .master-play .icon{
    font-size: 18px;
    color: white;
    margin: 0px 20px 0px 40px;
}
header .master-play .icon .bt{
    cursor: pointer;
    outline: none;
}

header .master-play .bi:nth-child(2){
    border:  1px solid rgba(105, 105, 107, 0.1);
    border-radius: 50%;
    transition: 0.3 linear;
    padding: 1px 3px 0px 6px;
    margin: 0px 5px;
}

header .master-play span {
    color: white;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}

header .master-play span #currentStart {
    margin: 0px 0px 0px 20px;
}

header .master-play .bar{
    position: relative;
    width: 500px;
    height: 2px;
    background: rgba(105, 105, 107, 0.1);
    margin: 0px 15px 0px 10px;
}

header .master-play .bar .bar2{
    position: absolute;
    background-color: #36c2ec;
    width: 0%;
    height: 100%;
    top: 0;
}
header .master-play .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear ;
    background-color: #36c2ec;
}

header .master-play .bar .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border:  1px solid #36c2ec;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #36c2ec;
    
}

header .master-play .bar input{
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    z-index: 99999999;
    transition: 3s linear;
    cursor: pointer;
    opacity: 0;
}

header .master-play .vol{
    position: relative;
    width: 100px;
    margin-left: 50px;
    height: 2px;
    background-color: rgba(105, 105, 107, 0.1);
}

header .master-play .vol .bi{
    position: absolute;
    color: white;
    font-size: 25px;
    top: -12px;
    left: -30px;
}

header .master-play .vol input{
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    z-index: 99999999;
    transition: 3s linear;
    cursor: pointer;
    opacity: 0;
}

header .master-play .vol .vol-bar{
    position: absolute;
    background-color: #36c2ec;
    width: 0%;
    height: 100%;
    top: 0;
}
header .master-play .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear ;
    background-color: #36c2ec;
}

header .master-play .vol .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border:  1px solid #36c2ec;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #36c2ec;
}




/*bally*/

.bally  {
    display: flex;
    gap: 20px;
    margin-top: 14px;
    margin: 20px 47px 0px;
    margin-left: 430px;
}


.bally .genres  {
     color: white;
     background-color: #202026;
     padding: 20px;
     border-radius: 25px;
     width: 40%;
     height: 400px; 
     
}

.bally .genres  .gen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    
}

.bally .genres .gen h5 {
    font-size: 15px ;
    font-weight: 500 ;
}

.bally .genres .gen a {
    font-size: 12px ;
    font-weight: 500 ;
    text-decoration: none;
    color: #a7a7bb;
}

.bally .genres .items .item a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.bally .genres .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.bally .genres .items .item {
    padding: 22px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    background-color: red;
    text-align: center;
}

.bally .radio  {
    color: white;
    background-color: #202026;
    padding: 20px;
    border-radius: 25px;
    width: 60%;
    height: 400px; 
    
}

.bally .radio  .ra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.bally .radio .ra h5 {
    font-size: 15px ;
    font-weight: 500 ;
}

.bally .radio .ra a {
    font-size: 12px ;
    font-weight: 500 ;
    text-decoration: none;
    color: #a7a7bb;
}

.bally .radio .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 10px;

}

.bally .radio .items .raitem {
    padding: 5px 10px;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
    list-style: none;

    transition: 0.3s linear;
}

.bally .radio .items .raitem:hover {
    background-color: rgba(105, 105, 107, 0.1);
}

.bally .radio .items .raitem .imge-play  {

    width: 110px;
    height: 110px;
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    
}

.bally .radio .items .raitem .imge-play img {
    width: 100%;
    height: 100%;
    border-radius: 6px;


}
.bally .radio .items .raitem h5{
    color: white;
    font-size: 12px;
    font-size: 400;
}

.bally .radio .items .raitem .ro-1{
    color: #4c5262;
    font-size: 9px;

}

/*-------footer-----*/

footer{
    margin-top: 1030px;
    margin-left: 400px;
    padding: 4% 8%;
    margin-bottom: 60px;
}

footer h3{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 800;
}

.foot-panel{
    display: flex;
    color: white;
    justify-content: space-between;
    height: 300px;
    text-align: left;
}

.foot-panel ul h4{
    font-size: 16px ;
    margin: 0px 0px 8px;
    font-weight: 600;
}

.foot-panel ul a{
    margin: 7px 0px 7px 10px;
    display: block;
    font-size: 14px;
    color: #777777;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s linear;
}

.foot-panel ul a:hover{
    color: white;
}

.copyright{
    text-align: center;
    padding-top: 5px;
    margin: 25px;
    margin-bottom: 25px;
}

.copyright p{
    font-size: 15px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    
}

.copyright .co i{
    font-size: 11px;
    color: white;
    font-weight: 200 ;
}

.copyright .co {
    font-size: 11px;
    color: white;
    font-weight: 200 ;
    margin-bottom: 20px;
}

/*login*/

.log{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/login.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.log .wrapper{
    width: 420px;
    background: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 30px 40px;
}

.log .wrapper h1{
    font-size: 36px;
    text-align: center;
}

.log .wrapper .input-box{
    width: 100%;
    height: 50px;

    margin: 30px 0;
}

.log .wrapper .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.log .wrapper .input-box input::placeholder{
    color: white;
}

.log .wrapper .input-box .bi{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.log .wrapper .rem-f{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.log .wrapper .rem-f label input{
    accent-color: white;
    margin-right: 3px;
}

.log .wrapper .rem-f a{
    color: white;
    text-decoration: none;
}

.log .wrapper .rem-f a:hover{
    text-decoration: underline;
}

.log .wrapper .btn{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.log .wrapper .reg{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin: 20px 0 15px;
}

.log .wrapper .reg p {
    color: white;
    text-decoration: none;

}

.log .wrapper .reg  a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 2px;
}

.log .wrapper .reg  a:hover{
    text-decoration: underline;
}

/*Sign up*/

.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/rign.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.signin .wrapper2{
    width: 420px;
    background: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 30px 40px;
}

.signin .wrapper2 h1{
    font-size: 36px;
    text-align: center;
}

.signin .wrapper2 .input-box{
    width: 100%;
    height: 50px;

    margin: 30px 0;
}

.signin .wrapper2 .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.signin .wrapper2 .input-box input::placeholder{
    color: white;
}

.signin .wrapper2 .input-box .bi{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.signin .wrapper2 .rem-f{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.signin .wrapper2 .rem-f label input{
    accent-color: white;
    margin-right: 3px;
}

.signin .wrapper2 .rem-f a{
    color: white;
    text-decoration: none;
}

.signin .wrapper2 .rem-f a:hover{
    text-decoration: underline;
}

.signin .wrapper2 .btn{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.signin .wrapper2 .reg{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin: 20px 0 15px;
}

.signin .wrapper2 .reg p {
    color: white;
    text-decoration: none;

}

.signin .wrapper2 .reg  a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 2px;
}

.signin .wrapper2 .reg  a:hover{
    text-decoration: underline;
}

.signin .wrapper2  .si-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 30px;
    width: 30px;
    margin-bottom: 30px;
}

.signin .wrapper2  .si-icon img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    margin-right: 50px;
    margin-left: 40px;
}

/*top song global*/


header .menu-side .playlist .pla {
    padding: 20px;
}

header .menu-side .playlist .pla h4{
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    transition: 0.3s linear;
    cursor: pointer;
    display: flex;
    align-items: center;
}


header .menu-side .playlist .pla ul  {
    margin-left: 20px;
}

header .menu-side .playlist .pla ul li {
    list-style: none;
    display: flex;
}

header .menu-side .playlist .pla ul li a{
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    color: white;
    transition: 0.3s linear;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}

header .menu-side .playlist .pla ul li .bi{
    font-size: 17px;
    font-weight: 400;
    padding: 5px;
    color: white;
    transition: 0.3s linear;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}

header .menu-side .playlist h4:hover{
    color: white;
}


header .menu-side .playlist  h4{
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    transition: 0.3s linear;
    cursor: pointer;
    display: flex;
    align-items: center;

}

header .menu-side .playlist .menu1 h4{
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    transition: 0.3s linear;
    cursor: pointer;
    display: flex;
    align-items: center;
}


header .menu-side .playlist .menu1 ul  {
    margin-left: 20px;
}

header .menu-side .playlist .menu1 ul li {
    list-style: none;
    display: flex;
}

header .menu-side .playlist .menu1 ul li a{
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    color: white;
    transition: 0.3s linear;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}

header .menu-side .playlist .menu1 ul li .bi{
    font-size: 17px;
    font-weight: 400;
    padding: 5px;
    color: white;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}

header .menu-side .playlist .menu1 {
    padding: 20px;
}

header .menu-side .playlist .lib1 {
    padding: 20px;
}

header .menu-side .playlist .lib1 h4{
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    transition: 0.3s linear;
    cursor: pointer;
    display: flex;
    align-items: center;
}


header .menu-side .playlist .lib1 ul  {
    margin-left: 20px;
}

header .menu-side .playlist .lib1 ul li {
    list-style: none;
    display: flex;
}

header .menu-side .playlist .lib1 ul li a{
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    color: white;
    transition: 0.3s linear;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}

header .menu-side .playlist .lib1 ul li .bi{
    font-size: 17px;
    font-weight: 400;
    padding: 5px;
    color: white;
    transition: 0.3s linear;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}

